@import './base.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #000;
}

/* 全局主題變數 */
body.dark-theme {
  --bg-color: #1e1e2f;
  --sidebar-color: #2c2c3e;
  --text-color: #eee;
  --link-hover: #3b3b55;
  --link-active: #444566;
  --btn-bg: #2c2c3e;
  --btn-hover: #3b3b55;
  --table-header-bg: #3a3a3a;
  --table-header-text: #fff;
}

body.light-theme {
  --bg-color: #f7f7f7;
  --sidebar-color: #ffffff;
  --text-color: #333;
  --link-hover: #ddd;
  --link-active: #bbb;
  --btn-bg: #f0f0f0;
  --btn-hover: #ddd;
  --table-header-bg: #f0f0f0;
  --table-header-text: #333;
}

@media (max-width: 468px) {
  .title-col {
    text-align: center !important;
    /* 水平置中 */
  }
}
